@import '@scss/variable';

.wrap-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  z-index: $modal-zindex;

  .wrap-body {
    width: 320px;

    .wrap-content {
      padding: 18px;

      .txt-title {
        font-size: 20px;
        font-weight: bold;
        color: var(--black);
        margin-bottom: 18px;
      }
    }

    .wrap-buttons {
      display: flex;

      button {
        flex: 1;
        font-size: 17px;
        padding: 15px 28px;
        border: none;
        cursor: pointer;
      }
      button:nth-child(2) {
        background-color: var(--blue);
        color: #fff;
      }
    }
  }
}
